<ion-header>

  <ion-navbar>
    <ion-title>Topics</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="createTopic()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
<ion-list inset>
  <ion-item *ngFor="let topic of topics.topics" (click)="openTopic(topic)">
    <ion-grid>
      <ion-row align-items-center>
        <ion-col>
          <h1>{{ topic.topic }}</h1>
          <p>{{ topic.description }}</p>
        </ion-col>
        <ion-col>
          <ion-icon name="arrow-forward" float-right></ion-icon>
        </ion-col>
        <ion-item *ngFor="let post of topic.posts">
            <span><button ion-button clear small color="danger" > {{post.title}} </button></span>
        </ion-item>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
  <!--<button ion-item (click)="openPost(post)">-->
  <!--<ion-avatar item-start>-->
  <!--<img [src]="post.profilePicture" />-->
  <!--</ion-avatar>-->
  <!--<h2>{{post.title}}</h2>-->
  <!--<p>{{post.description}}</p>-->
  <!--&lt;!&ndash;<ion-note item-end *ngIf="post.note">{{post.note}}</ion-note>&ndash;&gt;-->
  <!--</button>-->

  <!--<ion-item-options>-->
  <!--<button ion-button color="danger" (click)="deletePost(post)">-->
  <!--{{ 'DELETE_BUTTON' | translate }}-->
  <!--</button>-->
  <!--</ion-item-options>-->

</ion-content>
